openapi: 3.0.1
info:
  title: PROG4 Final Exam - School Management API
  description: |
    REST API of the school-management platform (Poja/Spring Boot 3.2.2, base package
    `org.cocojojo.mg`).

    Authentication is JWT-based. Obtain a token via `POST /auth/login`, then send it as
    `Authorization: Bearer <token>`. Three roles exist: `ADMIN`, `TEACHER`, `STUDENT`.
    Role restrictions are declared per operation.

    Error responses use a single shape:
    ```json
    { "error": "<message>", "status": "BAD_REQUEST" }
    ```
    with status codes 400, 401, 403, 404, 409 (see the `Error` schema and common responses).
  version: v1
  contact:
    name: PROG4 team
servers:
  - url: https://qcbjel2dhzmk43tv65e6vuqe4e0fhsaj.lambda-url.eu-west-3.on.aws
    description: Production (deployed Poja lambda)
  - url: http://localhost:8080
    description: Local development
tags:
  - name: Auth
    description: Authentication endpoints
  - name: Admins
    description: Administrator management
  - name: Teachers
    description: Teacher management
  - name: Students
    description: Student management, group membership, results and transcripts
  - name: Promotions
    description: Promotion (cohort) management and graduate lists
  - name: Groups
    description: Group management
  - name: Courses
    description: Course catalog management
  - name: Course assignments
    description: Curriculum building (assigning courses/teachers to groups per semester)
  - name: Exams
    description: Exam management per course assignment
  - name: Grades
    description: Grade entry, correction, deletion and history
  - name: Health
    description: Poja generated health-check endpoints (public)
  - name: UI
    description: Server-rendered HTML pages (login and promotion list)
security:
  - bearerAuth: []
paths:
  /auth/login:
    post:
      tags: [Auth]
      summary: Log in and obtain a JWT
      description: |
        Validates email/password against ADMIN, TEACHER or STUDENT accounts and returns a JWT
        bearer token together with the authenticated user. Public endpoint.
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security: []

  /admins/{id}:
    get:
      tags: [Admins]
      summary: Get an admin by id
      description: Returns a single admin profile. Requires the ADMIN role.
      operationId: getAdmin
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Admin found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Admins]
      summary: Update an admin profile
      description: |
        Updates an admin. Deliberately no create endpoint: admins are provisioned out-of-band
        (DB/migration). An admin may only update their own profile (the id must match the
        authenticated user). Requires the ADMIN role.
      operationId: updateAdmin
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminRequest'
      responses:
        '200':
          description: Admin updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /teachers:
    get:
      tags: [Teachers]
      summary: List teachers (paginated)
      description: Lists teachers. Requires authentication.
      operationId: listTeachers
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: Page of teachers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageTeacherResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags: [Teachers]
      summary: Create or update a teacher
      description: Upserts a teacher (create when `id` is absent, update otherwise). Requires the ADMIN role.
      operationId: upsertTeacher
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeacherRequest'
      responses:
        '200':
          description: Teacher created or updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeacherResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /teachers/{id}:
    get:
      tags: [Teachers]
      summary: Get a teacher by id
      description: Requires the ADMIN role.
      operationId: getTeacher
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Teacher found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeacherResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Teachers]
      summary: Delete a teacher (soft delete)
      description: |
        Soft-deletes a teacher. Teachers who recorded grade changes cannot be deleted (409).
        Requires the ADMIN role.
      operationId: deleteTeacher
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: Teacher deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /students:
    get:
      tags: [Students]
      summary: List students (paginated)
      description: Lists students. Requires the ADMIN or TEACHER role.
      operationId: listStudents
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: Page of students
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageStudentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags: [Students]
      summary: Create or update a student
      description: Upserts a student (create when `id` is absent, update otherwise). Requires the ADMIN role.
      operationId: upsertStudent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudentRequest'
      responses:
        '200':
          description: Student created or updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /students/{id}:
    get:
      tags: [Students]
      summary: Get a student by id
      description: Requires the ADMIN, TEACHER or STUDENT role.
      operationId: getStudent
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Student found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Students]
      summary: Delete a student (soft delete)
      description: Soft-deletes a student. Requires the ADMIN role.
      operationId: deleteStudent
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: Student deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /students/{id}/group-flows:
    get:
      tags: [Students]
      summary: Get a student's group membership history
      description: |
        Returns the JOIN/LEAVE history of the student. The caller must be an ADMIN or the student
        themselves (`assertAdminOrSelf`).
      operationId: getStudentGroupFlows
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Group flow history
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupFlowResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Students]
      summary: Move a student to a group
      description: |
        Records a JOIN into the target group (and a LEAVE of the previous one). Requires the ADMIN role.
      operationId: moveStudentToGroup
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveStudentGroupRequest'
      responses:
        '200':
          description: Student moved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupFlowResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /students/{id}/yearly-results/{level}/transcript:
    post:
      tags: [Students]
      summary: Request a transcript
      description: |
        Asynchronously requests a transcript for the given level; accepted (202) but the document
        is produced out-of-band (event-driven). The caller must be an ADMIN or the student
        themselves.
      operationId: requestTranscript
      parameters:
        - $ref: '#/components/parameters/IdPath'
        - $ref: '#/components/parameters/StudentLevelPath'
      responses:
        '202':
          description: Transcript request accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /students/{id}/yearly-results/{level}:
    get:
      tags: [Students]
      summary: Compute a student's yearly result
      description: |
        Computes the yearly result for the given level (course averages, credits, overall average,
        COMPLETED/PROVISIONAL status). The caller must be an ADMIN or the student themselves.
      operationId: getYearlyResult
      parameters:
        - $ref: '#/components/parameters/IdPath'
        - $ref: '#/components/parameters/StudentLevelPath'
      responses:
        '200':
          description: Yearly result computed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YearlyResultResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /students/{id}/results-summary:
    get:
      tags: [Students]
      summary: Compute a student's overall results summary
      description: |
        Computes the aggregated results across all levels (L1-L3), the overall average and whether
        the student graduates. The caller must be an ADMIN or the student themselves.
      operationId: getResultsSummary
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Results summary computed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsSummaryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /promotions:
    get:
      tags: [Promotions]
      summary: List promotions (paginated)
      description: Requires the ADMIN, TEACHER or STUDENT role.
      operationId: listPromotions
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: Page of promotions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagePromotionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags: [Promotions]
      summary: Create or update a promotion
      description: Upserts a promotion (create when `id` is absent, update otherwise). Requires the ADMIN role.
      operationId: upsertPromotion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotionRequest'
      responses:
        '200':
          description: Promotion created or updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /promotions/{id}:
    get:
      tags: [Promotions]
      summary: Get a promotion by id
      description: Requires the ADMIN, TEACHER or STUDENT role.
      operationId: getPromotion
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Promotion found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /promotions/{id}/courses:
    get:
      tags: [Promotions]
      summary: List a promotion's courses
      description: |
        Returns the courses attached to a promotion, optionally filtered by student level and track.
        Requires the ADMIN or TEACHER role.
      operationId: getPromotionCourses
      parameters:
        - $ref: '#/components/parameters/IdPath'
        - name: studentLevel
          in: query
          description: Filter by student level (L1/L2/L3)
          required: false
          schema:
            $ref: '#/components/schemas/StudentLevel'
        - name: track
          in: query
          description: Filter by track (EL/TN)
          required: false
          schema:
            $ref: '#/components/schemas/Track'
      responses:
        '200':
          description: List of courses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CourseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /promotions/{promotionId}/graduates:
    get:
      tags: [Promotions]
      summary: List graduates of a promotion
      description: |
        Returns the graduate list of the promotion, ranked by descending overall average within each
        track bucket (graduating EL students first, then TN, then trackless). Requires the ADMIN role.
      operationId: getGraduates
      parameters:
        - $ref: '#/components/parameters/PromotionIdPath'
      responses:
        '200':
          description: Ranked graduate list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GraduateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /promotions/{promotionId}/graduates/export:
    get:
      tags: [Promotions]
      summary: Export graduates to XLSX
      description: |
        Generates the graduate list as an XLSX file (one `EL` sheet and one `TN` sheet), uploads it
        to S3 and returns the pre-signed download URL. Requires the ADMIN role.
      operationId: exportGraduates
      parameters:
        - $ref: '#/components/parameters/PromotionIdPath'
      responses:
        '200':
          description: Pre-signed download URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraduateExportResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /promotions/{promotionId}/graduates/download:
    get:
      tags: [Promotions]
      summary: Download graduate list XLSX
      description: |
        Streams the graduate list XLSX (one `EL` sheet and one `TN` sheet) directly from the app, so
        the UI button does not depend on S3. The response carries a `Content-Disposition: attachment`
        header. Requires the ADMIN role.
      operationId: downloadGraduates
      parameters:
        - $ref: '#/components/parameters/PromotionIdPath'
      responses:
        '200':
          description: XLSX file
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /groups:
    get:
      tags: [Groups]
      summary: List groups (paginated)
      description: Lists groups, optionally filtered by promotion. Requires the ADMIN or TEACHER role.
      operationId: listGroups
      parameters:
        - name: promotionId
          in: query
          description: Filter by promotion
          required: false
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: Page of groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageGroupResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags: [Groups]
      summary: Create or update a group
      description: Upserts a group (create when `id` is absent, update otherwise). Requires the ADMIN role.
      operationId: upsertGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupRequest'
      responses:
        '200':
          description: Group created or updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /groups/{id}/students:
    get:
      tags: [Groups]
      summary: List a group's students
      description: Returns the students currently in the group. Requires the ADMIN or TEACHER role.
      operationId: getGroupStudents
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: List of students
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StudentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /courses:
    get:
      tags: [Courses]
      summary: List courses (paginated)
      description: Requires the ADMIN or TEACHER role.
      operationId: listCourses
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: Page of courses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageCourseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags: [Courses]
      summary: Create or update a course
      description: Upserts a course (create when `id` is absent, update otherwise). Requires the ADMIN role.
      operationId: upsertCourse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseRequest'
      responses:
        '200':
          description: Course created or updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /courses/{id}:
    get:
      tags: [Courses]
      summary: Get a course by id
      description: Requires the ADMIN or TEACHER role.
      operationId: getCourse
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Course found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Courses]
      summary: Delete a course (soft delete)
      description: |
        Soft-deletes a course. Courses that still have live course assignments cannot be deleted
        (409). Requires the ADMIN role.
      operationId: deleteCourse
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: Course deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /course-assignments:
    get:
      tags: [Course assignments]
      summary: List course assignments (paginated)
      description: |
        Lists course assignments, optionally filtered by group, teacher, course and academic year.
        Requires the ADMIN, TEACHER or STUDENT role.
      operationId: listCourseAssignments
      parameters:
        - name: groupId
          in: query
          description: Filter by group
          required: false
          schema:
            type: string
            format: uuid
        - name: teacherId
          in: query
          description: Filter by assigned teacher
          required: false
          schema:
            type: string
            format: uuid
        - name: courseId
          in: query
          description: Filter by course
          required: false
          schema:
            type: string
            format: uuid
        - name: academicYear
          in: query
          description: Filter by academic year
          required: false
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: Page of course assignments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageCourseAssignmentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags: [Course assignments]
      summary: Bulk upsert course assignments
      description: |
        Assigns many courses to a group in a single request. A single request lets the validator
        check the per-semester credit ceiling across the batch. Requires the ADMIN role.
      operationId: upsertCourseAssignments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CourseAssignmentRequest'
      responses:
        '200':
          description: Course assignments created or updated
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CourseAssignmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /course-assignments/{id}:
    get:
      tags: [Course assignments]
      summary: Get a course assignment by id
      description: Requires the ADMIN, TEACHER or STUDENT role.
      operationId: getCourseAssignment
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Course assignment found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseAssignmentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Course assignments]
      summary: Delete a course assignment
      description: |
        Deletes a course assignment. Assignments that still have exams cannot be deleted (409).
        Requires the ADMIN role.
      operationId: deleteCourseAssignment
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: Course assignment deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /course-assignments/curriculum-status:
    get:
      tags: [Course assignments]
      summary: Get curriculum status for a group/semester
      description: |
        Compares assigned credits against the target for a group, academic year and semester and
        lists the missing courses. Requires the ADMIN role.
      operationId: getCurriculumStatus
      parameters:
        - name: groupId
          in: query
          description: The group to inspect
          required: true
          schema:
            type: string
            format: uuid
        - name: academicYear
          in: query
          description: Academic year (2000-2100)
          required: true
          schema:
            type: integer
            format: int32
            minimum: 2000
            maximum: 2100
        - name: semester
          in: query
          description: Semester to inspect
          required: true
          schema:
            $ref: '#/components/schemas/Semester'
      responses:
        '200':
          description: Curriculum status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurriculumStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /course-assignments/{courseAssignmentId}/exams:
    put:
      tags: [Exams]
      summary: Create or update an exam
      description: Upserts an exam for a course assignment (create when `id` is absent). Requires the ADMIN or TEACHER role.
      operationId: upsertExam
      parameters:
        - $ref: '#/components/parameters/CourseAssignmentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExamRequest'
      responses:
        '200':
          description: Exam created or updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      tags: [Exams]
      summary: List exams of a course assignment
      description: Lists exams, optionally filtered by date range. Requires the ADMIN, TEACHER or STUDENT role.
      operationId: listExams
      parameters:
        - $ref: '#/components/parameters/CourseAssignmentIdPath'
        - name: from
          in: query
          description: Lower bound on exam datetime (inclusive)
          required: false
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Upper bound on exam datetime (inclusive)
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: List of exams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExamResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /course-assignments/{courseAssignmentId}/exams/{id}:
    get:
      tags: [Exams]
      summary: Get an exam by id
      description: Requires the ADMIN, TEACHER or STUDENT role.
      operationId: getExam
      parameters:
        - $ref: '#/components/parameters/CourseAssignmentIdPath'
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Exam found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Exams]
      summary: Delete an exam
      description: |
        Deletes an exam. Exams that still have grades cannot be deleted (409).
        Requires the ADMIN or TEACHER role.
      operationId: deleteExam
      parameters:
        - $ref: '#/components/parameters/CourseAssignmentIdPath'
        - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: Exam deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /exams/{examId}/grades:
    get:
      tags: [Grades]
      summary: List grades of an exam
      description: Requires the ADMIN or TEACHER role.
      operationId: listExamGrades
      parameters:
        - $ref: '#/components/parameters/ExamIdPath'
      responses:
        '200':
          description: List of grades
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GradeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Grades]
      summary: Enter grades for an exam (bulk)
      description: |
        Grades a whole class in a single request (one grade per student). The batch is validated as
        a unit before any row is inserted. Requires the ADMIN or TEACHER role.
      operationId: createExamGrades
      parameters:
        - $ref: '#/components/parameters/ExamIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GradeRequest'
      responses:
        '200':
          description: Grades created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GradeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /exams/{examId}/students/{studentId}/grade:
    get:
      tags: [Grades]
      summary: Get a student's grade for an exam
      description: Requires the ADMIN or TEACHER role.
      operationId: getExamGradeForStudent
      parameters:
        - $ref: '#/components/parameters/ExamIdPath'
        - $ref: '#/components/parameters/StudentIdPath'
      responses:
        '200':
          description: Grade found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GradeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Grades]
      summary: Correct a grade
      description: |
        Overrides a grade and records the correction (previous value, new value, reason, author) in
        the grade history. Requires the ADMIN or TEACHER role.
      operationId: correctGrade
      parameters:
        - $ref: '#/components/parameters/ExamIdPath'
        - $ref: '#/components/parameters/StudentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GradeCorrectionRequest'
      responses:
        '200':
          description: Grade corrected, full correction history returned (most recent first)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GradeHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /students/{studentId}/grades:
    get:
      tags: [Grades]
      summary: List a student's grades
      description: Requires the ADMIN, TEACHER or STUDENT role.
      operationId: listStudentGrades
      parameters:
        - $ref: '#/components/parameters/StudentIdPath'
      responses:
        '200':
          description: List of grades
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GradeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /grades/{gradeId}:
    get:
      tags: [Grades]
      summary: Get a grade by id
      description: Requires the ADMIN, TEACHER or STUDENT role.
      operationId: getGrade
      parameters:
        - $ref: '#/components/parameters/GradeIdPath'
      responses:
        '200':
          description: Grade found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GradeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Grades]
      summary: Delete a grade
      description: |
        Deletes a grade; the deletion reason is required and recorded for traceability. Requires the
        ADMIN or TEACHER role.
      operationId: deleteGrade
      parameters:
        - $ref: '#/components/parameters/GradeIdPath'
        - name: reason
          in: query
          required: true
          description: Reason for deleting the grade, recorded for traceability.
          schema:
            type: string
      responses:
        '200':
          description: Grade deleted, full history returned (including the deletion record, most recent first)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GradeHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /grades/{gradeId}/history:
    get:
      tags: [Grades]
      summary: Get a grade's correction history
      description: Returns every recorded correction of a grade. Requires the ADMIN, TEACHER or STUDENT role.
      operationId: getGradeHistory
      parameters:
        - $ref: '#/components/parameters/GradeIdPath'
      responses:
        '200':
          description: List of corrections
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GradeHistoryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /ping:
    get:
      tags: [Health]
      summary: Health probe
      description: Poja generated liveness endpoint. Public.
      operationId: ping
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
      security: []

  /health/db:
    get:
      tags: [Health]
      summary: Database health check
      description: Poja generated check that the DB is reachable. Public.
      operationId: healthDb
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      security: []

  /health/bucket:
    get:
      tags: [Health]
      summary: S3 bucket health check
      description: Poja generated check that files can be uploaded to and signed from S3. Public.
      operationId: healthBucket
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      security: []

  /health/email:
    get:
      tags: [Health]
      summary: Email health check
      description: Poja generated check that emails can be sent. Public.
      operationId: healthEmail
      parameters:
        - name: to
          in: query
          description: Recipient of the test email
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      security: []

  /health/event1:
    get:
      tags: [Health]
      summary: Event flow health check
      description: Poja generated check of the event pipeline. Public.
      operationId: healthEvent1
      parameters:
        - name: nbEvent
          in: query
          description: Number of events to emit
          required: false
          schema:
            type: integer
            format: int32
            default: 1
        - name: waitInSeconds
          in: query
          description: Seconds to wait for the events to be consumed
          required: false
          schema:
            type: integer
            format: int32
            default: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      security: []

  /health/event/uuids:
    post:
      tags: [Health]
      summary: Check that UUIDs survived the event pipeline
      description: Poja generated check of event payload integrity. Public.
      operationId: checkUuids
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      security: []

  /ui/login:
    get:
      tags: [UI]
      summary: Login page
      description: Server-rendered HTML login form. Public.
      operationId: uiLoginPage
      responses:
        '200':
          description: Login page
          content:
            text/html:
              schema:
                type: string
      security: []
    post:
      tags: [UI]
      summary: Submit login form
      description: |
        Form login. On success the JWT is set as an httpOnly, SameSite=Lax cookie
        (`hei_token`) and the browser is redirected to `/ui/promotions` for ADMIN accounts, or to
        `/ui/forbidden` for TEACHER and STUDENT accounts. On failure the login page is re-rendered
        with an error.
      operationId: uiLogin
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '302':
          description: Redirect to /ui/promotions (ADMIN) or /ui/forbidden (other roles) on success, or back to /ui/login on failure
      security: []

  /ui/forbidden:
    get:
      tags: [UI]
      summary: Forbidden page
      description: Server-rendered HTML page shown to non-ADMIN accounts after UI login. Public.
      operationId: uiForbidden
      responses:
        '200':
          description: Forbidden page
          content:
            text/html:
              schema:
                type: string
      security: []

  /ui/logout:
    post:
      tags: [UI]
      summary: Log out
      description: Clears the auth cookie (maxAge 0) and redirects to /ui/login.
      operationId: uiLogout
      responses:
        '302':
          description: Redirect to /ui/login
      security: []

  /ui/promotions:
    get:
      tags: [UI]
      summary: Promotions page
      description: Server-rendered HTML list of promotions. Requires the ADMIN role.
      operationId: uiPromotions
      responses:
        '200':
          description: Promotions page
          content:
            text/html:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT obtained from `POST /auth/login` and sent as `Authorization: Bearer <token>`. The token
        is issued for an ADMIN, TEACHER or STUDENT account.

  parameters:
    IdPath:
      name: id
      in: path
      description: Resource UUID
      required: true
      schema:
        type: string
        format: uuid
    ExamIdPath:
      name: examId
      in: path
      description: Exam UUID
      required: true
      schema:
        type: string
        format: uuid
    StudentIdPath:
      name: studentId
      in: path
      description: Student UUID
      required: true
      schema:
        type: string
        format: uuid
    GradeIdPath:
      name: gradeId
      in: path
      description: Grade UUID
      required: true
      schema:
        type: string
        format: uuid
    PromotionIdPath:
      name: promotionId
      in: path
      description: Promotion UUID
      required: true
      schema:
        type: string
        format: uuid
    CourseAssignmentIdPath:
      name: courseAssignmentId
      in: path
      description: Course assignment UUID
      required: true
      schema:
        type: string
        format: uuid
    StudentLevelPath:
      name: level
      in: path
      description: Student level
      required: true
      schema:
        $ref: '#/components/schemas/StudentLevel'
    PageParam:
      name: page
      in: query
      description: Zero-based page index
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
        default: 0
    SizeParam:
      name: size
      in: query
      description: Page size
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        default: 20
    SortParam:
      name: sort
      in: query
      description: |
        Sort expression, repeatable, e.g. `sort=lastname,asc&sort=firstname,asc`.
      required: false
      schema:
        type: array
        items:
          type: string

  responses:
    BadRequest:
      description: Invalid request (validation failure, bad coefficient, illegal argument or integrity violation)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing, invalid or expired token; bad credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        WWW-Authenticate:
          description: Present when no bearer token was supplied
          schema:
            type: string
    Forbidden:
      description: Authenticated but the role does not allow this operation, or caller is not the target user
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: A uniqueness or business-rule conflict occurred
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      description: Uniform error body produced by the global exception handler
      properties:
        error:
          type: string
          description: Human-readable error message
          example: "Grade with id 123 not found"
        status:
          type: string
          description: HTTP status phrase
          example: "NOT_FOUND"

    LoginRequest:
      type: object
      description: Credentials for the JSON login endpoint
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          example: admin@hei.school
        password:
          type: string
          format: password
          example: s3cret

    AuthResponse:
      type: object
      description: JWT token plus the authenticated user
      properties:
        token:
          type: string
          description: JWT bearer token
        user:
          $ref: '#/components/schemas/UserResponse'

    UserResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
          format: email
        role:
          $ref: '#/components/schemas/Role'

    AdminRequest:
      type: object
      description: Admin upsert payload (only update is reachable through the API)
      required: [firstname, lastname, email]
      properties:
        id:
          type: string
          format: uuid
          description: Present when updating; must match the authenticated admin
        firstname:
          type: string
          minLength: 1
        lastname:
          type: string
          minLength: 1
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          description: Optional; if absent the current password is kept

    AdminResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
          format: email

    TeacherRequest:
      type: object
      required: [firstname, lastname, email]
      properties:
        id:
          type: string
          format: uuid
          description: Present when updating, absent when creating
        firstname:
          type: string
          minLength: 1
        lastname:
          type: string
          minLength: 1
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          description: Optional; if absent the current password is kept

    TeacherResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
          format: email

    StudentRequest:
      type: object
      required: [firstname, lastname, email]
      properties:
        id:
          type: string
          format: uuid
          description: Present when updating, absent when creating
        firstname:
          type: string
          minLength: 1
        lastname:
          type: string
          minLength: 1
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          description: Optional; if absent the current password is kept
        groupId:
          type: string
          format: uuid
          description: Initial group the student belongs to (recorded as a JOIN flow)

    StudentResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        std:
          type: string
          description: Student identifier (numéro d'étudiant), derived from the promotion ref
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
          format: email
        promotionId:
          type: string
          format: uuid
        promotionName:
          type: string
        currentGroupId:
          type: string
          format: uuid
        currentGroupRef:
          type: string

    MoveStudentGroupRequest:
      type: object
      description: Target group for a student move
      required: [groupId]
      properties:
        groupId:
          type: string
          format: uuid

    GroupFlowResponse:
      type: object
      description: One JOIN/LEAVE event of a student's group history
      properties:
        id:
          type: string
          format: uuid
        studentId:
          type: string
          format: uuid
        studentStd:
          type: string
        groupId:
          type: string
          format: uuid
        groupRef:
          type: string
        groupFlowType:
          $ref: '#/components/schemas/GroupFlowType'
        createdAt:
          type: string
          format: date-time

    PromotionRequest:
      type: object
      required: [ref, name, entryYear]
      properties:
        id:
          type: string
          format: uuid
          description: Present when updating, absent when creating
        ref:
          type: string
          minLength: 1
          description: Promotion reference (e.g. "PROMO23")
        name:
          type: string
          minLength: 1
        entryYear:
          type: integer
          format: int32
          description: Entry academic year of the cohort

    PromotionResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        ref:
          type: string
        name:
          type: string
        entryYear:
          type: integer
          format: int32

    GroupRequest:
      type: object
      required: [promotionId, ref]
      properties:
        id:
          type: string
          format: uuid
          description: Present when updating, absent when creating
        promotionId:
          type: string
          format: uuid
        ref:
          type: string
          minLength: 1
        track:
          $ref: '#/components/schemas/Track'

    GroupResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        promotionId:
          type: string
          format: uuid
        promotionName:
          type: string
        ref:
          type: string
        track:
          $ref: '#/components/schemas/Track'

    CourseRequest:
      type: object
      required: [code, name, credits, studentLevel]
      properties:
        id:
          type: string
          format: uuid
          description: Present when updating, absent when creating
        code:
          type: string
          minLength: 1
        name:
          type: string
          minLength: 1
        credits:
          type: integer
          format: int32
          minimum: 1
        totalHours:
          type: integer
          format: int32
          exclusiveMinimum: 0
        studentLevel:
          $ref: '#/components/schemas/StudentLevel'
        track:
          $ref: '#/components/schemas/Track'

    CourseResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        name:
          type: string
        credits:
          type: integer
          format: int32
        totalHours:
          type: integer
          format: int32
        studentLevel:
          $ref: '#/components/schemas/StudentLevel'
        track:
          $ref: '#/components/schemas/Track'

    CourseAssignmentRequest:
      type: object
      description: Assigns a course to a group for a semester, with one or more teachers
      required: [courseId, groupId, teacherIds, academicYear, semester, credits]
      properties:
        id:
          type: string
          format: uuid
          description: Present when updating, absent when creating
        courseId:
          type: string
          format: uuid
        groupId:
          type: string
          format: uuid
        teacherIds:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        academicYear:
          type: integer
          format: int32
          minimum: 2000
          maximum: 2100
        semester:
          $ref: '#/components/schemas/Semester'
        credits:
          type: integer
          format: int32
          minimum: 1
          description: Effective credits granted in this assignment

    CourseAssignmentResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        courseId:
          type: string
          format: uuid
        courseCode:
          type: string
        courseName:
          type: string
        groupId:
          type: string
          format: uuid
        groupRef:
          type: string
        teachers:
          type: array
          items:
            $ref: '#/components/schemas/TeacherResponse'
        academicYear:
          type: integer
          format: int32
        semester:
          $ref: '#/components/schemas/Semester'
        credits:
          type: integer
          format: int32

    CurriculumStatusResponse:
      type: object
      description: Credit coverage of a group/semester against the curriculum target
      properties:
        semester:
          $ref: '#/components/schemas/Semester'
        assignedCredits:
          type: integer
          format: int32
        targetCredits:
          type: integer
          format: int32
        complete:
          type: boolean
          description: Whether the target is reached
        missingCourses:
          type: array
          items:
            $ref: '#/components/schemas/CourseResponse'
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/CourseAssignmentResponse'

    ExamRequest:
      type: object
      required: [title, examDatetime, coefficient]
      properties:
        id:
          type: string
          format: uuid
          description: Present when updating, absent when creating
        title:
          type: string
          minLength: 1
        examDatetime:
          type: string
          format: date-time
        coefficient:
          $ref: '#/components/schemas/Fraction'

    ExamResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        courseAssignmentId:
          type: string
          format: uuid
        title:
          type: string
        examDatetime:
          type: string
          format: date-time
        coefficient:
          $ref: '#/components/schemas/Fraction'

    Fraction:
      type: object
      description: |
        Reduced fraction in (0, 1], used as an exam coefficient. The JSON deserializer also accepts
        a `"n/d"` string or a plain decimal, e.g. `"3/4"` or `0.75`.
      required: [numerator, denominator]
      properties:
        numerator:
          type: integer
          format: int32
          example: 3
        denominator:
          type: integer
          format: int32
          example: 4
      example:
        numerator: 3
        denominator: 4

    GradeRequest:
      type: object
      description: One grade entry of a bulk grading request
      required: [studentId, value]
      properties:
        studentId:
          type: string
          format: uuid
        value:
          type: number
          minimum: 0
          maximum: 20
          example: 14.5
        comment:
          type: string

    GradeResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        studentId:
          type: string
          format: uuid
        studentStd:
          type: string
        examId:
          type: string
          format: uuid
        examTitle:
          type: string
        courseCode:
          type: string
        value:
          type: number
          example: 14.5
        comment:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    GradeCorrectionRequest:
      type: object
      description: Corrects an existing grade and records the change in history
      required: [value, reason]
      properties:
        value:
          type: number
          minimum: 0
          maximum: 20
          example: 16
        reason:
          type: string
          minLength: 1
          description: Mandatory justification of the correction

    GradeHistoryResponse:
      type: object
      description: One recorded correction of a grade
      properties:
        id:
          type: string
          format: uuid
        gradeId:
          type: string
          format: uuid
        previousValue:
          type: number
        newValue:
          type: number
        reason:
          type: string
        changedById:
          type: string
          format: uuid
        changedByName:
          type: string
        changedAt:
          type: string
          format: date-time

    CourseResultResponse:
      type: object
      description: Result of a single course for a student at a given level
      properties:
        courseId:
          type: string
          format: uuid
        courseCode:
          type: string
        courseName:
          type: string
        credits:
          type: integer
          format: int32
        track:
          $ref: '#/components/schemas/Track'
        average:
          type: number
          description: Credit-weighted exam average for the course
        graded:
          type: boolean
          description: Whether at least one exam has been graded
        complete:
          type: boolean
          description: Whether every expected exam of this course has been graded
        passed:
          type: boolean

    YearlyResultResponse:
      type: object
      description: Result of a student for one academic level
      properties:
        level:
          $ref: '#/components/schemas/StudentLevel'
        courses:
          type: array
          items:
            $ref: '#/components/schemas/CourseResultResponse'
        overallAverage:
          type: number
          description: Credit-weighted average across the level
        earnedCredits:
          type: integer
          format: int32
        totalCredits:
          type: integer
          format: int32
        status:
          $ref: '#/components/schemas/ResultStatus'

    ResultsSummaryResponse:
      type: object
      description: Aggregated results of a student across all levels
      properties:
        studentId:
          type: string
          format: uuid
        studentStd:
          type: string
        levels:
          type: array
          items:
            $ref: '#/components/schemas/YearlyResultResponse'
        overallAverage:
          type: number
        graduate:
          type: boolean
          description: Whether the student meets the graduation conditions

    GraduateResponse:
      type: object
      description: One row of the ranked graduate list (rank restarts within each track bucket)
      properties:
        rank:
          type: integer
          format: int32
          description: Position within the track bucket (EL, TN or trackless), starting at 1
        std:
          type: string
        firstname:
          type: string
        lastname:
          type: string
        track:
          $ref: '#/components/schemas/Track'
        generalAverage:
          type: number

    GraduateExportResponse:
      type: object
      description: Pre-signed URL of the generated XLSX on S3
      properties:
        url:
          type: string
          format: uri

    PageTeacherResponse:
      type: object
      description: Spring Data page of teachers
      allOf:
        - $ref: '#/components/schemas/Page'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/TeacherResponse'
    PageStudentResponse:
      type: object
      description: Spring Data page of students
      allOf:
        - $ref: '#/components/schemas/Page'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/StudentResponse'
    PagePromotionResponse:
      type: object
      description: Spring Data page of promotions
      allOf:
        - $ref: '#/components/schemas/Page'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/PromotionResponse'
    PageGroupResponse:
      type: object
      description: Spring Data page of groups
      allOf:
        - $ref: '#/components/schemas/Page'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/GroupResponse'
    PageCourseResponse:
      type: object
      description: Spring Data page of courses
      allOf:
        - $ref: '#/components/schemas/Page'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/CourseResponse'
    PageCourseAssignmentResponse:
      type: object
      description: Spring Data page of course assignments
      allOf:
        - $ref: '#/components/schemas/Page'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/CourseAssignmentResponse'

    Page:
      type: object
      description: Spring Data page envelope
      properties:
        content:
          type: array
          description: Page items (see the referencing page schema)
          items:
            type: object
        totalPages:
          type: integer
          format: int32
        totalElements:
          type: integer
          format: int64
        size:
          type: integer
          format: int32
          description: Number of elements requested
        number:
          type: integer
          format: int32
          description: Zero-based page index
        numberOfElements:
          type: integer
          format: int32
          description: Number of elements on this page
        first:
          type: boolean
        last:
          type: boolean
        empty:
          type: boolean
        pageable:
          $ref: '#/components/schemas/PageableObject'
        sort:
          type: array
          items:
            $ref: '#/components/schemas/SortObject'

    PageableObject:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        offset:
          type: integer
          format: int64
        paged:
          type: boolean
        unpaged:
          type: boolean
        sort:
          type: array
          items:
            $ref: '#/components/schemas/SortObject'

    SortObject:
      type: object
      properties:
        property:
          type: string
        direction:
          type: string
          enum: [ASC, DESC]
        ignoreCase:
          type: boolean
        nullHandling:
          type: string
          enum: [NATIVE, NULLS_FIRST, NULLS_LAST]
        ascending:
          type: boolean

    Role:
      type: string
      enum: [ADMIN, TEACHER, STUDENT]

    StudentLevel:
      type: string
      enum: [L1, L2, L3]
      description: Academic level (L1 covers S1-S2, L2 covers S3-S4, L3 covers S5-S6)

    Semester:
      type: string
      enum: [S1, S2, S3, S4, S5, S6]

    Track:
      type: string
      enum: [EL, TN]
      description: Track (EL = English, TN = "Très Normal" national)

    GroupFlowType:
      type: string
      enum: [JOIN, LEAVE]

    ResultStatus:
      type: string
      enum: [COMPLETED, PROVISIONAL]
      description: COMPLETED when every course of the level has been passed, PROVISIONAL otherwise
